{% extends 'base.html' %}
{% load static %}
{% block title %}
CREATE SCHEDULE
{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class = "title">
		<p class="title-text text-center"><strong>S C H E D U L E</strong></p>
	</div>
	
<body>
    <div class="margin-small form-design">
    <form class="css" action="{% url 'schedule_create' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in form %}
                    {{ fields.label_tag }}
                    <br>
                    {{ fields }}
                    <br><br>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <input type="submit" button type="button" class="btn btn-warning btn-style" value="Add New Schedule"></button>
        </form>
    </div>
</body>
</html>
</div>
{% endblock %}