{% extends 'base.html' %}
{% load static %}
{% block title %}
SCHEDULE
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class = "title">
		<p class="title-text text-center"><strong>S C H E D U L E</strong></p>
	</div>
	

<body>
    <div class="article">
        <a href="{% url 'schedule' %}"></a>
        <div class="article">
            <div class="row">
                    <div class="col-sm-12 text-center table-responsive">
                            {% if schedules %}
                            <table class="table schedule-table margin-small" style="width:100%">
                                    <tr>
                                        <th>ACTIVITY<br></th>
                                        <th>DATE</th>
                                        <th>TIME</th>
                                        <th>PLACE</th>
                                        <th>CATEGORY</th>
                                        <th></th>
                                    </tr>
                                {% for schedule in schedules %}
                        
                                    <tr>
                                        <td>{{ schedule.activity }}</td>
                                        <td>{{ schedule.date.date }}</td>
                                        <td>{{ schedule.time }}</td>
                                        <td>{{ schedule.place }}</td>
                                        <td>{{ schedule.category }}</td>
                                        <td> <form method="POST" action = "schedule_hapus/{{ schedule.id }}"></form>
                                        <a href="{% url 'schedule_hapus' id=schedule.id %}">
                                        <button type ="button" class="btn btn-danger btn-sm mt-3">Delete</button></a>
                                    </tr>
                            
                                {% endfor %}
                </table>

                            {% else %}
                            <div class="no-schedule margin-small">
                            <p>There's no schedule yet</p>
                            </div>
                            {% endif %}
                           
                              
        </div>
            </div>
        </div>
    </div>
    <div class = 'col-md-12'>
        <div class = 'form-group'>
            <a href="{% url 'schedule_delete' %}"><button type="button" class="btn btn-warning btn-style">Clear All</button></a>
            <a href="{% url 'schedule_create' %}"><button type="button" class="btn btn-warning btn-style">Create</button></a>
    </div>
</div>
</body>
</div>
{% endblock %}