{% load static %}
html {
	overflow-x: hidden;
}

.navbar{
	/*left: 0px;*/
	/*top: 0px;*/
	background: #FFA791;
	color: #FFF9C2;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	/*padding: 1.5rem 1rem;*/
}

.nav-link {
	color: #FFF9C2!important;
	font-size: 1.2rem;
}

.home{
	font-size: 2.5vh;
}

.row_home {
	display: flex;
	flex-direction: row;
  	margin:0 auto;
}

.column_home{
	display: flex;
	flex-direction: column;
	align-content: : center;
	margin:0 auto;

}


.row_education {
	display: flex;

	flex-direction: row;
  	margin:0 auto;
}

.row_contact {
	display: flex;
	flex-direction: row;
  	margin:0 auto;
}
body {
	overflow-x: hidden;
}

.row_education img{
	margin-bottom: 20px;
}

.row_contact img{
	margin-bottom: 20px;
}

.column_education {
	display: flex;
	flex-direction: column;
	align-content: : center;
	margin:0 40px;

}

.column_contact {
	display: flex;
	flex-direction: column;
	align-content: : center;
	margin:0 auto;

}
.education {
	margin: 0 auto;
	font-family: 'Roboto';
}

.contact {
	margin: 0 auto;
	font-family: 'Roboto';
	font-size: 4vh;
}

.contact-style{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.experience {
	margin: 0 auto;
	font-family: 'Roboto';
}

.title{
	display: inline-block;
	background-image: url(brush.png);
	/*font-size: 50px;*/
	font-family: 'Roboto';
	color: #F9F5C1;
	height: auto;
	width: 100%;
	/*padding-top: 45px;*/
	margin-top: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.title-text {
	/*position: absolute;*/
	margin-top: 2%;
	font-size: 3vw;
}

.skill-text {
	font-size: 1.6rem;
	font-weight: 800;
}

.skill-bar {
	width: 100%;
}

.skill-content {
	margin-top: 4%;
}
.container-fluid {
	padding: 0 4rem;
}
.school {
	width: 100%;
}
.education-history {
	margin-top: 4%;
}
.education-text {
	font-size: 1.2rem;
	margin-top: 4%;
	min-height: 10rem;
	font-weight: 800;
}
.image-container {
	width: 55%;
}

.no-schedule{
	font-size: 1.6rem;
	color: #FFA791;
	font-weight: bold;
}

.schedule-table{
	font-size: 1.2rem;
	color: #800517;
}

.margin-small{
	margin: 30px 0 30px 0;
}

.btn-style{
	color: #FFF9C2;
	font-weight: bold;
	background-color: #FFA791;
	border-color: #FFA791;


@media only screen and (min-width: 1400px) {
	.skill-text {
		font-size: 2.2rem;
	}

.education-text {	
		font-size: 1.4rem;
	}
}
.exp-title {
	font-size: 2.5rem;
}
.exp-text {
	font-size: 1.3rem;
}
.border {
	background-color: #FDE7B1;
	border-radius: 10vw;
	border-color: #FDE7B1;
	width: 100%;
}

.edu-container {
	margin-top: 4rem;
}
.contact-container {
	height: 80%;
	width: 50%;
}
.gmail {
	margin-right: 35% !important;
}
@media only screen and (max-width: 1024px) {
	.image-container {
		width: 65%;
	}
	.education-text {
		font-size: 1.2rem;
	}
	.exp-title {
		font-size: 1.4rem;
	}
	.exp-text {
		font-size: 1rem;
	}
}
@media only screen and (max-width:991px) {
	.contact-container {
		height: none;
		width: 35%;
	}
}