{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title%} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="{% static 'css/story3.css' %}">
		<style type="text/css">
			body{
				height: 100%;
				width: 100%;
				text-align: center;
			}
		</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{% url 'home' %}"><img src = "{% static 'image/logo.png' %}" width = "55" height="55"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="ml-auto navbar-nav">
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'skill' %}"><b>SKILL</b></a> </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'experience' %}"><b>EXPERIENCE</b></a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'education' %}"><b>EDUCATION</b></a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}"><b>CONTACT</b></a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule' %}"><b>SCHEDULE</b></a></li>
    </ul>
  </div>
</nav>
{% block content %}

{% endblock %}
</body>
</html>