{% extends 'base.html' %}
{% load static %}
{% block title %}
CONTACT
{% endblock %}

{% block content %}
<div>
	<div class = "title">
		<p class="title-text"><strong>C O N T A C T</strong></p>
	</div>

	<div class = "contact">
		<div style = "display: inline-block; margin-top: 40px">
			<div class = "row">
				<div class = "col-lg-4">
					<div class="contact-container mx-auto">
						<img src="{% static 'image/logoline.png' %}" class="contact-style d-block" style="width:50%"> 
						
					</div>
					<p style="text-align: center; color: #63948F;"><b>earleneshefila</b></p>
				</div>
					<div class = "col-lg-4">
					<div class="contact-container mx-auto">
						<img src="{% static 'image/logogmail.png' %}" class="contact-style d-block" style="width:50%;"> 
						
					</div>
					<p style="text-align: center; color: #63948F;"><b>earleneshefila@gmail.com</b></p>
				</div>
					<div class = "col-lg-4">
					<div class="contact-container mx-auto">
						<img src="{% static 'image/logoig.png' %}" class="contact-style d-block" style="width:50%"> 
						
					</div>
					<p style="text-align: center; color: #63948F;"><b>@earleneshefila</b></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}