{% extends 'base.html' %}
{% load static %}
{% block title %}
EDUCATION
{% endblock %}

{% block content %}
<div class = "container-fluid">
	<div class = "title">
		<div class = "text-center">
		<p class="title-text"><strong>E D U C A T I O N</strong></p>
		</div>
	</div>

	<div >
		<div class="education-history">
			<div class = "row">
				<div class = "col-md-3">
					<div class="image-container mx-auto">
						<img src="{% static 'image/logosd.png' %}" class=" d-block school" > 
						
					</div>
					<p style="text-align: center; color: #63948F;" class="education-text">SDI AL-AZHAR 8 KEMBANGAN<br>
						ELEMENTARY SCHOOL<br>
							2006 - 2012</p>
				</div>
					<div class = "col-md-3">
					<div class="image-container mx-auto">
						<img src="{% static 'image/logosmp.png' %}" class=" d-block school" > 
						
					</div>
					<p style="text-align: center;color: #63948F;" class="education-text">SMPN 177 JAKARTA<br>
						JUNIOR HIGH SCHOOL<br>
							2012 - 2015</p>
				</div>
					<div class = "col-md-3">
					<div class="image-container mx-auto">
						<img src="{% static 'image/logosma.png' %}" class=" d-block school" > 
						
					</div>
					<p style="text-align: center;color: #63948F;" class="education-text">SMAN 47 JAKARTA<br>
						SENIOR HIGH SCHOOL<br>
							2015 - 2018</p>
				</div>
					<div class = "col-md-3">
					<div class="image-container mx-auto">
						<img src="{% static 'image/logokuliah.png' %}" class=" d-block school" > 
						
					</div>
					<p style="text-align: center; color: #63948F;" class="education-text">UNIVERSITAS INDONESIA<br>
						INFORMATION SYSTEM<br>
							2018 - PRESENT</p>
					</div>
			</div>
		</div>
	</div>
{% endblock %}