{% extends 'base.html' %}
{% load static %}
{% block title %}
EXPERIENCE
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class = "title">
		<p class="title-text text-center"><strong>E X P E R I E N C E</strong></p>
	</div>
	<div >
		<div class="row text-center edu-container">
			<div class="col-lg-6" style="margin-bottom: 2rem;">
				<div class="exp-title" style="color: #FE988C"><b>ORGANIZATIONS</b></div>
				<div class="border" style="color: #63948F;">
					<div class="exp-text"><br><b>OSIS SMPN 177 Jakarta<br>
						Staff of Public Relations<br>
						2013-2014<br><br></b></div>
					<div class="exp-text"><b>OSIS SMAN 47 Jakarta<br>
						Head of Public Relations<br>
						2016 - 2017<br><br></b></div>
					<div class="exp-text"><b>BEM FASILKOM UI<br>
						Staff of Public Relations<br>
						2018 - PRESENT<br></b><br></div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="exp-title" style="color: #FE988C"><b>COMMITTEE</b></div>
				<div class="border" style="color: #63948F;">
				<div class="exp-text"><b><br>OPEN HOUSE FASILKOM UI 2019<br>
				Project Officer<br><br></b></div>
				<div class="exp-text"><b>EDUCARE 2019<br>
				Staff of Seminar<br><br></b></div>
				<div class="exp-text"><b>COMPUTERS GET TOGETHER 2019<br>
				Staff of Decoration<br><br></b></div>
				<div class="exp-text"><b>COMPFEST 11<br>
				Staff of Media Partner<br></b><br></div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}