{% extends 'base.html' %}
{% load static %}
{% block title %}
Earlene's Profile
{% endblock %}


{% block content %}
  <div class = "home">
    <div style = "display: inline-block; margin-top: 40px">
      <div class = "row_home">
        <div class = "column_home">
          <br><br><br><br><img src="{% static 'image/profile.png' %}" class="mx-auto d-block" style="width:15%" > 
          <p style="text-align: center; color: #FE6D49; "><b>HELLO!</b></p>
          <p1 style="text-align: center; color: #63948F;"><b>I'm Earlene Shefila, currently studying in Information System<br>
           University of Indonesia </b></p1>
        </div>
{% endblock %}
</body>
