{% extends 'base.html' %}
{% load static %}
{% block title %}
SKILL
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class = "title">
    <div class = "text-center">
    <p class="title-text"><strong>S K I L L</strong></p>
    </div>
  </div>

  <div >
    <div class="row skill-content">
      <div class="col-md-3 skill-text" style="color: #63948F;  white-space: nowrap;">
        PUBLIC SPEAKING
      </div>
      <div class="col-md-9 ">
          <img src="{% static 'image/ps.png' %}" class="skill-bar">
        
      </div>
    </div>

    <div class="row skill-content">
      <div class="col-md-3 skill-text" style="color: #63948F;  white-space: nowrap;">
        PYTHON
      </div>
      <div class="col-md-9">
          <img src="{% static 'image/py.png' %}" class="skill-bar">
        
      </div>
    </div>

    <div class="row skill-content">
      <div class="col-md-3 skill-text" style="color: #63948F;  white-space: nowrap;">
        ENGLISH
      </div>
      <div class="col-md-9">
          <img src="{% static 'image/eng.png' %}" class="skill-bar">
        
      </div>
    </div>

    <div class="row skill-content">
      <div class="col-md-3 skill-text" style="color: #63948F;  white-space: nowrap;">
        ENTERTAINMENT
      </div>
      <div class="col-md-9">
          <img src="{% static 'image/ent.png' %}" class="skill-bar">
        
      </div>
    </div>
    
    
  </div>

{% endblock %}