html {
	overflow: hidden;
}

.navbar{
	left: 0px;
	top: 0px;
	background: #FFA791;
	color: #FFF9C2;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.nav-link {
	color: #FFF9C2!important;
	font-size: 2.5vh;
}

.home{
	font-size: 2.5vh;
}

.row_home {
	display: flex;
	flex-direction: row;
  	margin:0 auto;
}

.column_home{
	display: flex;
	flex-direction: column;
	align-content: : center;
	margin:0 auto;

}


.row_education {
	display: flex;

	flex-direction: row;
  	margin:0 auto;
}

.row_contact {
	display: flex;
	flex-direction: row;
  	margin:0 auto;
}


.row_education img{
	margin-bottom: 20px;
}

.row_contact img{
	margin-bottom: 20px;
}

.column_education {
	display: flex;
	flex-direction: column;
	align-content: : center;
	margin:0 40px;

}

.column_contact {
	display: flex;
	flex-direction: column;
	align-content: : center;
	margin:0 auto;

}
.education {
	margin: 0 auto;
	font-family: 'Roboto';
}

.contact {
	margin: 0 auto;
	font-family: 'Roboto';
	font-size: 4vh;
}

.experience {
	margin: 0 auto;
	font-family: 'Roboto';
}

.title{
	display: inline-block;
	background: static('/image/brush.png');
	/*font-size: 1em;*/
	font-family: 'Roboto';
	color: #F9F5C1;
	height: 200vh;
	width: 910vw;
	padding-top: 45px;
	background-repeat: no-repeat;
	background-position: center;
}
